.search {
    width: 35rem;
    margin: 2rem auto;
    position: relative;
}

.search form {
    border-radius: 10px;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}

.search input {
    border: none;
    outline: none;
    padding: 1rem;
    width: 80%;
    display: inline-block;
    font-size: 1rem;
}

.search .btn {
    padding: 0 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.search .btn:hover {
    cursor: pointer;
}